.card{
    padding: 30px;
}

.submit{
    margin-top: 25px;
  }
  
.reports {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .report {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .value {
    padding: 10px;
    width: 100px;
  }
  
  .header {
    font-weight: bold;
  }

  .reportHeader{
    font-weight: bold;
    justify-content: center;
    text-align: center;
  }

.reports {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
  }
  
  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .report {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .header {
    font-weight: bold;
  }

  .details{
    margin-left: -10px;
    margin-right: 10px;
  }

  body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.report {
  background-color: #f8f9fa; /* Rapor elemanının arkaplan rengi */
  border: 1px solid #ced4da; /* Kenarlık rengi */
  border-radius: 8px; /* Rapor elemanının köşe yuvarlatması */
  padding: 15px; /* İçerik iç kenar boşluğu */
  margin-bottom: 15px; /* Rapor elemanları arasındaki boşluk */
}

.content {
  margin-bottom: 10px; /* Her içerik elemanı arasındaki boşluk */
}

.content a {
  color: #007bff; /* Link rengi */
  cursor: pointer;
  text-decoration: underline; /* Link altı çizgisi */
}

.content a:hover {
  color: #0056b3; /* Linkin üzerine gelindiğindeki rengi */
}
